
<nav class="flex justify-between items-center px-lg py-md max-w-[1440px] mx-auto">
    <div class="flex items-center gap-xl">
        <a
        href="{% url 'index' %}"
            class="font-headline-md text-headline-md font-bold text-primary uppercase tracking-tighter">Precision
            PC</a>
        <div class="hidden md:flex gap-lg items-center">
            <a class="font-body-md text-body-md font-medium tracking-tight text-primary border-b-2 border-primary pb-1"
                href="#">Processors</a>
            <a class="font-body-md text-body-md font-medium tracking-tight text-on-surface-variant hover:text-primary transition-colors"
                href="#">GPUs</a>
            <a class="font-body-md text-body-md font-medium tracking-tight text-on-surface-variant hover:text-primary transition-colors"
                href="#">Storage</a>
            <a class="font-body-md text-body-md font-medium tracking-tight text-on-surface-variant hover:text-primary transition-colors"
                href="#">Memory</a>
            <a class="font-body-md text-body-md font-medium tracking-tight text-on-surface-variant hover:text-primary transition-colors"
                href="#">Motherboards</a>
        </div>
    </div>
    <div class="flex items-center gap-md">
        <div class="relative hidden lg:block">
            <span
                class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-on-surface-variant text-[20px]">search</span>
            <input
                class="pl-10 pr-4 py-2 bg-surface-container-low border border-outline-variant rounded-lg focus:outline-none focus:border-primary-container w-64 transition-all"
                placeholder="Search components..." type="text" />
        </div>
    {% if  user.is_authenticated %}
    <button class="material-symbols-outlined text-on-surface-variant hover:bg-surface-container-low p-2 rounded-full transition-all ">shopping_cart</button>
    <button class="material-symbols-outlined text-on-surface-variant hover:bg-surface-container-low p-2 rounded-full transition-all ">account_circle</button>
{% else %}
<a href="{% url 'signIn' %}"
       class="px-4 py-2 rounded hover:bg-white hover:text-on-surface hover:border hover:border-outline bg-primary-container text-white  text-sm font-medium  transition-colors ">
        Sign In
    </a>
    <a href="{% url 'register' %}"
       class="px-4 py-2 rounded border border-outline hover:border-none text-on-surface text-sm hover:bg-primary-container font-medium hover:text-white transition-colors ">
        Register
    </a>
    
    {% endif %}
    </div>
</nav>